@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {

  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
}
iframe{
  border:none;
  border-radius: 8px;
}
/* Scrollbar for WebKit-based browsers */
::-webkit-scrollbar {
  width: 8px; /* Width for vertical scrollbar */
  height: 8px; /* Height for horizontal scrollbar */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light grey background */
  border-radius: 10px;
}

/* Scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background: #888; /* Grey color */
  border-radius: 10px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker grey */
}

/* Scrollbar for Firefox */
* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #888 #f0f0f0; /* thumb & track color */
}
